DJANGO_SECRET_KEY=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=5432
STRIPE_API_KEY=
STRIPE_WEBHOOK_SECRET=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=
ALLOWED_HOSTS=
PUBLIC_DOMAIN=
PUBLIC_BOOKING_RETURN_URL=
PUBLIC_BOOKING_CANCEL_URL=
PUBLIC_BOOKING_BASE_URL=
